<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Youtube Downloader</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
	</head>

	<style>
		body{
			background: linear-gradient(90deg, #effaff 0%, #d9e7ff 100%);
		}
		.myHeading{
			background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	</style>

	<body>
		<div class="container my-5">
			<h1><strong class="myHeading">Youtube Video Downloader</strong></h1>
			<form method="GET" action='/download' class="my-5">
				<div class="form-group">
					<label for="videoURL"
						>Paste the Video Link below</label
					>
					<input
						type="text"
						class="form-control"
						placeholder="example: https://www.youtube.com/watch?v=AtVWpOBJHoc"
                        name="url"
					/>
				</div>
				<button type="submit" class="btn btn-primary">Download</button>
			</form>
		</div>
	</body>
</html>